{% extends 'index.html' %}

{% block title %}
    Add Project - Project Management
{% endblock %}

{% block content %}
    <h2>Add Project</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.name.id_for_label }}">Project Name</label>
            <input type="text" class="form-control" id="{{ form.name.id_for_label }}" name="{{ form.name.html_name }}" value="{{ form.name.value|default_if_none:'' }}">
            {% if form.name.errors %}
                <div class="alert alert-danger">
                    {{ form.name.errors }}
                </div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="{{ form.project_id.id_for_label }}">Project ID</label>
            <input type="text" class="form-control" id="{{ form.project_id.id_for_label }}" name="{{ form.project_id.html_name }}" value="{{ form.project_id.value|default_if_none:'' }}">
            {% if form.project_id.errors %}
                <div class="alert alert-danger">
                    {{ form.project_id.errors }}
                </div>
            {% endif %}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}
